@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
  src: url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  src: url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Black.woff2") format("woff2");
  src: url("/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Thin.woff2") format("woff2");
  src: url("/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  src: url("/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Light.woff2") format("woff2");
  src: url("/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 1;
  height: 100%;
}

body a {
  text-decoration: none;
  color: #000000;
}

body a:hover {
  text-decoration: none;
  color: #000000;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

section {
  overflow: hidden;
}

input, select {
  font-size: 14px;
}

select:focus {
  border-color: #edb021;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 176, 33, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(237, 176, 33, 0.25);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

.global-cont {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .global-cont {
    max-width: 100%;
  }
}

.header {
  background: #000;
}

.header__nav-mobile {
  display: none;
}

.header__nav-title {
  background: #edb021;
  padding: 5px;
}

.header__nav-title h3 {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.header__nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-cont-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-cont-logo img:first-child {
  margin-right: 16px;
}

.header__nav-cont-list ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__nav-cont-list ul li {
  display: inline;
  list-style: none;
  margin: 0 10px;
}

.header__nav-cont-list ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__nav-cont-list ul li a:hover {
  background: rgba(0, 0, 255, 0.6);
  color: #edb021;
}

.header__nav-cont-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.header__nav-cont-calc-wrap {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-cont-calc-wrap-img {
  margin-right: 10px;
}

.header__nav-cont-calc-wrap-desc {
  margin-right: 10px;
}

.header__nav-cont-calc-wrap-desc a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
}

.header__nav-cont-calc-wrap-desc a:hover {
  color: #edb021;
}

.header__nav-cont-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #edb021;
  margin: 5px;
  padding: 5px 10px 5px 20px;
  width: 183px;
  border-radius: 5px;
}

.header__nav-cont-user-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__nav-cont-user-icon img {
  width: 30px;
  height: 29px;
}

.header__nav-cont-user-desc-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-cont-user-desc-title p {
  line-height: 10px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 8px;
}

.header__nav-cont-user-desc-title p span {
  text-transform: uppercase;
}

.header__nav-cont-user-arrow img {
  width: 15px;
  height: 15px;
}

.header__nav-cont-userinfo {
  display: none;
}

.header__nav-cont-close {
  display: none;
}

@media (max-width: 1440px) {
  .header__nav-cont-list ul li {
    margin: 0;
  }
  .header__nav-cont-list ul li a {
    padding: 10px;
  }
  .header__nav-cont-calc {
    width: 30%;
  }
}

@media (max-width: 1100px) {
  .header__nav-cont-list ul li {
    margin: 0;
  }
  .header__nav-cont-list ul li a {
    padding: 10px;
  }
  .header__nav-cont-calc-wrap-img a img {
    width: 20px;
  }
}

@media (max-width: 992px) {
  .header .open-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0;
    transition: 0;
  }
  .header__nav {
    overflow: hidden;
  }
  .header__nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-mobile-logo {
    padding: 5px;
  }
  .header__nav-mobile-btn-wrap {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    cursor: pointer;
  }
  .header__nav-mobile-btn-wrap span {
    display: block;
    width: 60px;
    height: 3px;
    background: #edb021;
  }
  .header__nav-mobile-btn-wrap span:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__nav-title h3 {
    font-size: 16px;
  }
  .header__nav-cont {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    z-index: 999;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 75vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__nav-cont-logo {
    text-align: center;
  }
  .header__nav-cont-list {
    position: relative;
    margin-bottom: 20px;
  }
  .header__nav-cont-list:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #edb021;
  }
  .header__nav-cont-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-cont-list ul li {
    display: block;
  }
  .header__nav-cont-list ul li a {
    padding: 5px 5px 10px 5px;
  }
  .header__nav-cont-calc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-cont-calc-wrap {
    margin-bottom: 20px;
  }
  .header__nav-cont-calc-wrap-img a img {
    width: 100%;
  }
  .header__nav-cont-user {
    width: 100%;
    margin: 0;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-left: none;
    border-right: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav-cont-user-arrow {
    display: none;
  }
  .header__nav-cont-userinfo {
    display: block;
  }
  .header__nav-cont-userinfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .header__nav-cont-userinfo ul li {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-cont-userinfo ul li span {
    background: #edb021;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }
  .header__nav-cont-userinfo ul li:last-child {
    padding-top: 10px;
    border-top: 2px solid #edb021;
  }
  .header__nav-cont-userinfo ul li a {
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    height: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header__nav-cont-userinfo ul li a:hover {
    background: rgba(0, 0, 255, 0.6);
    color: #edb021;
  }
  .header__nav-cont-close {
    display: block;
    position: absolute;
    left: -60px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: #000;
  }
  .header__nav-cont-close span {
    position: absolute;
    display: block;
    width: 70%;
    height: 3px;
    background: #edb021;
  }
  .header__nav-cont-close span:nth-child(1) {
    top: 43%;
    left: 15%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__nav-cont-close span:nth-child(2) {
    bottom: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 15%;
  }
}

.offer {
  background: #dcdcdc;
  padding: 10px 0 30px 0;
}

.offer__cont-title h3 {
  text-transform: uppercase;
  font-size: 14px;
}

.offer__cont-input {
  position: relative;
}

.offer__cont-input input {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: none;
  padding-right: 60px;
}

.offer__cont-input ::-webkit-input-placeholder {
  font-size: 13px;
  color: #000000;
}

.offer__cont-input :-ms-input-placeholder {
  font-size: 13px;
  color: #000000;
}

.offer__cont-input ::-ms-input-placeholder {
  font-size: 13px;
  color: #000000;
}

.offer__cont-input ::placeholder {
  font-size: 13px;
  color: #000000;
}

.offer__cont-input label {
  border-radius: 5px;
  background: #edb021;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .offer__cont {
    padding: 0 20px;
  }
  .offer__cont-title h3 {
    font-size: 16px;
  }
  .offer__cont-input ::-webkit-input-placeholder {
    font-size: 10px;
  }
  .offer__cont-input :-ms-input-placeholder {
    font-size: 10px;
  }
  .offer__cont-input ::-ms-input-placeholder {
    font-size: 10px;
  }
  .offer__cont-input ::placeholder {
    font-size: 10px;
  }
}

.mainsearch {
  overflow: hidden;
}

.mainsearch-mobile {
  display: none;
  background: #dcdcdc;
  text-align: center;
  padding: 0 0 10px 0;
}

.mainsearch-mobile img {
  width: 30px;
}

.mainsearch-mobile p {
  padding: 0;
  margin: 0;
}

.mainsearch-cont {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainsearch-cont-settings {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.mainsearch-cont-settings-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mainsearch-cont-settings-title h3 {
  font-size: 18px;
}

.mainsearch-cont-settings-btn {
  margin-top: 10px;
  text-align: center;
}

.mainsearch-cont-settings-btn .reset {
  display: block;
  margin-right: auto;
  border: none;
  background: none;
  font-size: 14px;
  position: relative;
  padding-left: 25px;
}

.mainsearch-cont-settings-btn .reset:after {
  content: '';
  position: absolute;
  top: 39%;
  left: 0;
  width: 15px;
  height: 3px;
  background: #edb021;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mainsearch-cont-settings-btn .reset:before {
  content: '';
  position: absolute;
  bottom: 44%;
  left: 0;
  width: 15px;
  height: 3px;
  background: #edb021;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mainsearch-cont-settings-btn .mainBtn {
  display: none;
}

.mainsearch-cont-settings-wrap-item {
  margin-bottom: 3px;
}

.mainsearch-cont-settings-wrap-item select {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: none;
  width: 100%;
  padding: 5px;
}

.mainsearch-cont-settings-wrap-item select option:hover {
  background: #000;
}

.mainsearch-cont-settings-wrap-item-desc h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 3px;
}

.mainsearch-cont-settings-wrap-item-inputd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mainsearch-cont-settings-wrap-item-inputd:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 2px;
  background: #000000;
}

.mainsearch-cont-settings-wrap-item-inputd input {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: none;
  padding: 5px;
  width: 45%;
  display: inline-block;
}

.mainsearch-cont-settings-wrap-item-inputd input:nth-child(1) {
  margin-right: auto;
  margin-left: 0;
}

.mainsearch-cont-settings-wrap-item-inputd input:nth-child(2) {
  margin-left: auto;
  margin-right: 0;
}

.mainsearch-cont-settings-wrap-item-inputd ::-webkit-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-inputd :-ms-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-inputd ::-ms-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-inputd ::placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-input input {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: none;
  padding: 5px;
  width: 100%;
}

.mainsearch-cont-settings-wrap-item-input ::-webkit-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-input :-ms-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-input ::-ms-input-placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-settings-wrap-item-input ::placeholder {
  color: #dcdcdc;
  font-size: 11px;
}

.mainsearch-cont-result {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.mainsearch-cont-result-filter {
  margin-bottom: 20px;
}

.mainsearch-cont-result-filter select {
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #000000;
}

.mainsearch-cont-result .product-hit {
  position: relative;
  background: #edb021;
  border: 1px solid #000000;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count-btn {
  margin-bottom: 15px;
}

.mainsearch-cont-result .product-hit .mainBtn {
  padding: 6px 13px;
  border: 1px solid #000000;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count:after {
  background: #000000;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count-price p {
  text-align: right;
}

.mainsearch-cont-result .product-hit .mainsearch-cont-result-item-count-price h4 {
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #000000;
}

.mainsearch-cont-result .product-hit .product-hit-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.mainsearch-cont-result .product-hit .product-hit-img p {
  text-transform: lowercase;
  padding: 0;
  font-size: 8px;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

.mainsearch-cont-result .product-hit .product-hit-img img {
  width: 15px;
  height: auto;
}

.mainsearch-cont-result-item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  padding: 10px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.mainsearch-cont-result-item-desc {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.mainsearch-cont-result-item-desc h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}

.mainsearch-cont-result-item-desc p {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
}

.mainsearch-cont-result-item-desc p:last-child {
  margin: 0;
}

.mainsearch-cont-result-item-place {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainsearch-cont-result-item-place h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}

.mainsearch-cont-result-item-place p {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
}

.mainsearch-cont-result-item-place-stars {
  margin-bottom: 10px;
}

.mainsearch-cont-result-item-place-date {
  margin-top: auto;
}

.mainsearch-cont-result-item-place-date p {
  display: inline;
  font-size: 10px;
}

.mainsearch-cont-result-item-place-date p:not(:last-child) {
  margin-right: 5px;
}

.mainsearch-cont-result-item-count {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  padding: 5px;
}

.mainsearch-cont-result-item-count:after {
  content: '';
  position: absolute;
  left: 0;
  top: 7%;
  width: 1px;
  height: 86%;
  background: #dcdcdc;
}

.mainsearch-cont-result-item-count-price {
  text-align: center;
  margin-top: auto;
  padding-right: 3px;
}

.mainsearch-cont-result-item-count-price p {
  font-size: 12px;
  margin-top: auto;
  padding: 0;
  margin-bottom: 5px;
}

.mainsearch-cont-result-item-count-price h4 {
  padding-left: 10px;
  font-size: 18px;
}

.mainsearch-cont-result-item-count-btn {
  margin-top: auto;
  margin-bottom: 30px;
}

.mainsearch-cont-result-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainsearch-cont-result-pagination-number {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainsearch-cont-result-pagination-number-list .pagination-current {
  border: 1px solid #000000;
}

.mainsearch-cont-result-pagination-number-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mainsearch-cont-result-pagination-number-list ul li {
  padding: 5px;
  display: inline;
  margin-right: 5px;
}

.mainsearch-cont-result-pagination-number-decore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.mainsearch-cont-result-pagination-number-decore span {
  margin-right: 10px;
}

.mainsearch-cont-result-pagination-number-decore p {
  margin: 0;
  padding: 0;
  margin-right: 10%;
}

.mainsearch-cont-result-pagination-number-decore img {
  width: 13px;
  height: auto;
}

.mainsearch-cont-result-pagination-count {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainsearch-cont-result-pagination-count p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.mainsearch-cont-banner {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.mainsearch-cont-banner-wrap {
  margin-bottom: 20px;
}

.mainsearch-cont-banner-wrap img {
  max-width: 100%;
  height: auto;
}

.mainsearch .settings-show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

@media (max-width: 992px) {
  .mainsearch-mobile {
    display: block;
  }
  .mainsearch-cont {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .mainsearch-cont-settings {
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
    padding: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .mainsearch-cont-result {
    padding: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .mainsearch-cont-result-filter {
    display: none;
  }
  .mainsearch-cont-banner {
    display: none;
  }
}

@media (max-width: 500px) {
  .mainsearch-cont-result {
    padding: 5px;
  }
  .mainsearch-cont-result .product-hit .product-hit-img img {
    max-width: 100%;
    width: 30px;
    height: auto;
  }
  .mainsearch-cont-result-item {
    padding: 5px 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainsearch-cont-result-item-desc h4 {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .mainsearch-cont-result-item-desc p {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .mainsearch-cont-result-item-place {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .mainsearch-cont-result-item-place h4 {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .mainsearch-cont-result-item-place p {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .mainsearch-cont-result-item-place-stars {
    margin-bottom: 5px;
  }
  .mainsearch-cont-result-item-place-date p {
    font-size: 12px;
  }
  .mainsearch-cont-result-item-count {
    padding: 5px;
  }
  .mainsearch-cont-result-item-count:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    width: 2px;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
  }
  .mainsearch-cont-result-item-count-price {
    margin-top: auto;
  }
  .mainsearch-cont-result-item-count-price h4 {
    font-size: 18px;
  }
  .mainsearch-cont-result-item-count-price p {
    margin-top: auto;
    padding: 0;
    margin-bottom: 5px;
  }
  .mainsearch-cont-result-item-count-btn {
    margin-top: auto;
    margin-bottom: 30px;
  }
  .mainsearch-cont-result-item-count-btn .mainBtn {
    padding: 5px;
  }
}

.footer {
  padding: 50px 0 0 0;
  background: #000;
}

.footer__cont-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.footer__cont-list-logo {
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
}

.footer__cont-list-logo img:first-child {
  margin-right: 16px;
}

.footer__cont-list-logo:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #edb021;
}

.footer__cont-list-wrap {
  padding: 10px 20px;
}

.footer__cont-list-wrap ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__cont-list-wrap ul li {
  display: inline;
  padding: 10px 17px;
  text-transform: uppercase;
}

.footer__cont-list-wrap ul li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__cont-list-wrap ul li a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #edb021;
}

.footer__cont-social {
  text-align: center;
  margin: 20px;
}

.footer__cont-social a {
  margin-right: 10px;
}

.footer__cont-social a:last-child {
  margin-right: 45px;
}

.footer__cont-social a img {
  width: 18px;
}

.footer__bankIcon {
  background: #edb021;
  padding: 10px;
  text-align: center;
}

.footer__bankIcon a {
  margin: 5px;
}

.footer__bankIcon a:first-child {
  margin-left: -24px;
}

.footer__copyright {
  padding: 5px;
  background: #ffffff;
}

.footer__copyright ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright ul li {
  margin: 5px;
  font-size: 10px;
  color: #333333;
}

.footer__copyright ul li a {
  font-size: 10px;
  color: #333333;
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .footer__cont-list-wrap {
    padding: 0;
  }
  .footer__cont-list-wrap ul li {
    padding: 10px;
  }
}

@media (max-width: 1150px) {
  .footer__cont-list-logo {
    margin: 0;
  }
  .footer__cont-list-wrap {
    padding: 10px;
  }
  .footer__cont-list-wrap ul li {
    padding: 5px;
  }
}

@media (max-width: 992px) {
  .footer__cont-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__cont-list-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .footer__cont-list-wrap ul {
    text-align: center;
  }
  .footer__cont-list-wrap ul li {
    display: block;
  }
  .footer__cont-list-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__cont-list-logo:after {
    display: none;
  }
  .footer__cont-social a:last-child {
    margin-right: 0;
  }
  .footer__bankIcon a:first-child {
    margin-left: 0;
  }
}

.mydeal {
  padding: 40px 0;
}

.mydeal__title {
  margin-bottom: 50px;
}

.mydeal__title h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background: #969696;
  padding: 10px;
  border-radius: 5px;
  border-left: 16px solid #edb021;
}

.mydeal__desc {
  padding-left: 16px;
  margin-bottom: 50px;
}

.mydeal__desc p {
  font-size: 30px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.mydeal__tabs {
  margin-bottom: 36px;
}

.mydeal__tabs .active-cont {
  display: block;
}

.mydeal__tabs .active-list {
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.mydeal__tabs-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.mydeal__tabs-list ul li {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px;
  background: #edb021;
  border: 1px solid #000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.mydeal__tabs-list ul li:first-child {
  border-top-left-radius: 5px;
}

.mydeal__tabs-list ul li:last-child {
  border-top-right-radius: 5px;
}

.mydeal__tabs-cont {
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 0px 5px 5px 5px;
  display: none;
}

.mydeal__tabs-cont-title {
  border-bottom: 1px solid #edb021;
  padding: 0 15px 20px 15px;
  margin-bottom: 20px;
}

.mydeal__tabs-cont-title ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mydeal__tabs-cont-title ul li {
  text-align: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #969696;
  font-size: 18px;
}

.mydeal__tabs-cont-text {
  padding: 0 15px;
}

.mydeal__tabs-cont-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.mydeal__tabs-cont-text ul li {
  text-align: center;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 24px;
}

.mydeal__btn {
  text-align: right;
  margin-bottom: 100px;
}

.mydeal__btn .mainBtn {
  text-transform: uppercase;
  font-size: 28px;
  display: inline-block;
}

.mydeal__banner img {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .mydeal {
    padding: 20px 10px;
  }
  .mydeal__title {
    margin-bottom: 10px;
  }
  .mydeal__title h3 {
    font-size: 14px;
  }
  .mydeal__desc {
    margin-bottom: 15px;
  }
  .mydeal__desc p {
    font-size: 14px;
    line-height: 1.4;
  }
  .mydeal__tabs-list ul li {
    text-align: center;
    font-size: 16px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .mydeal__tabs-cont {
    border-top-right-radius: 0;
    padding: 5px;
  }
  .mydeal__tabs-cont-title {
    padding: 15px 0;
  }
  .mydeal__tabs-cont-title ul li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 10px;
  }
  .mydeal__tabs-cont-text {
    padding: 0;
  }
  .mydeal__tabs-cont-text ul li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 12px;
  }
  .mydeal__btn {
    margin-bottom: 20px;
  }
  .mydeal__btn .mainBtn {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .mydeal__tabs-cont-text ul li {
    font-size: 10px;
  }
}

/* --- button start Start ------------------------------------------------*/
.mainBtn {
  border: 1px solid #edb021;
  background: none;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 100%;
  border-radius: 5px;
}

.mainBtn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #edb021;
  color: #ffffff;
}

/* --- button start end ------------------------------------------------*/
/* --- forms Start ------------------------------------------------*/
/* --- forms end ------------------------------------------------*/
/*# sourceMappingURL=main.css.map */