/* --- forms Start ------------------------------------------------*/
.mpopup-window-border
  border: 1px solid $main_rgb
  padding: 10px
.mpopup-window
  display: block
  width: 500px
  max-width: 100%
  margin: 0 auto
  background: $main_bg3
  border-radius: $br-radius
  &-header
    background: $main_color
    padding: 5px
    display: flex
    justify-content: space-between
    align-items: center
    border-top-left-radius: $br-radius
    border-top-right-radius: $br-radius
    margin-bottom: 10px
    p
      text-transform: uppercase
      color: $main_white
      margin: 0
      padding: 0
    &-close
      position: relative
      display: block
      width: 30px
      height: 30px
      cursor: pointer
      &:after
        content: ''
        position: absolute
        top: 38%
        left: 0
        width: 15px
        height: 3px
        background: $main_rgb
        transform: rotate(-45deg)
      &:before
        content: ''
        position: absolute
        bottom: 52%
        left: 0
        width: 15px
        height: 3px
        background: $main_rgb
        transform: rotate(45deg)
  &-main
    padding: 0 10px 10px 10px
    position: relative
    .popup-close
      position: absolute
      right: -20px
      top: -10px
    textarea
      padding: 5px
      width: 100%
      margin-bottom: 5px
      border-radius: $br-radius
    ::placeholder
      color: $main_bg3
      font-size: 14px
    h4
      text-align: center
      margin: 0
      padding: 0
      font-size: 18px
      text-transform: uppercase
    h5
      text-align: center
      margin: 0
      padding: 0
      font-size: 16px
    hr
      margin: 5px auto
      width: 60%  
      background-color: $main_rgb
    &-email
      p
        margin: 0 0 5px 0
        padding: 0
        font-size: 14px
      input
        border-radius: $br-radius
        border: 1px solid $main_color
        margin-bottom: 5px
        padding: 5px
    &-btn
      .mainBtn
        border: 1px solid $main_color
        display: block
        margin-left: auto
    &-calc
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      &-title
        width: 100%
        flex-basis: 100%
        padding-left: 100px
        h4
          font-size: 16px
          margin-bottom: 10px
      &-item
        width: 45%
        flex-basis: 45%
        &-in
          input
            padding: 5px
            margin-bottom: 10px
            border-radius: $br-radius
            color: $main_bgD
            border: 1px solid $main_bgD
            max-width: 100%
        h5
          text-align: left
        &-sel
          select
            padding: 5px
            width: 100%
            margin-bottom: 10px
            border-radius: $br-radius
            color: $main_bgD
          ::placeholder
            color: $main_bgD
        &-box
          h5
            text-align: left
            font-size: 14px
            margin-bottom: 10px
          &-img
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            a
              background: $main_white
              padding: 5px
              display: inline-block
              width: 17%
              flex-basis: 17%
              border-radius: $br-radius
              border: 1px solid $main_rgb
              display: flex
              justify-content: center
              align-items: center
              margin-bottom: 10px
            a:nth-of-type(1)
              svg
                line
                  stroke: $main_color
            a:nth-of-type(2)
              svg
                rect
                  fill: $main_color
            a:nth-of-type(3)
              svg
                circle
                  stroke: $main_color
            .item-box-active
              background: $main_color
              svg
                line
                  stroke: $main_rgb !important
                rect
                  fill: $main_rgb !important
                circle
                  stroke: $main_rgb !important
                path
                  fill: $main_rgb
              .item-box-active-fillnone
                circle
                  fill: $main_rgb !important
              .item-box-active-fillin
                rect
                  stroke: $main_rgb !important
                  fill: $main_color !important
      &-wiev
        padding: 20px 10px
        width: 100%
        flex-basis: 100%
        background: $main_white
        border-radius: $br-radius
        border: 1px solid $main_color
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 10px
        &-wrap
          img
            display: block
            margin-left: auto
            margin-right: auto
            width: 80%
            height: auto
/* --- forms end ------------------------------------------------*/